#wrapper {
  height:453px;
  width:453px;
  border:1px solid black;
  /*margin:0 auto;*/
}

.cell {
  height:50px;
  width:50px;
  float: left;
  border:1px solid black;
  display:inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  line-height:50px;
}

.cell input {
  border:none;
  height:50px;
  width:50px;
  text-align: center;
  vertical-align: middle;
  line-height:50px;
  box-sizing: border-box;
}

#percent {
  width: 454px;
  text-align: center;
  padding:5px;
}

#percentDisplay {
 height:25px;
 width: 454px;
 border:1px solid black;
}

.percentCell {
  float:left;
  width:4.5px;
  height:25px;
  /*border:1px solid black;*/
  display:inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

td:nth-child(3); {
  border-right:10px solid green;
}