<div id="wrapper">
<form>

<% i = 1 %>
<% while i <= 81 %>
  <% 9.times do %>
    <% 9.times do %>
      <div class="row">
      <div class="box"><input onClick="this.select();"type="text" name="<%= i %>" value="<%= i %>"></input></div>
      <% i += 1 %>
      </div>
    <% end %>
  <% end %>
<% end %>

</form>
</div>