<table id="wrapper">
  <tr>
    <form>
    <% i = 1 %>
    <% while i <= 81 %>
      <% 9.times do %>
        <% 9.times do %>
          <td class="cell"><input onClick="this.select();"type="text" name="cell <%= i %>"></input></td>
          <% i += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </form>
  </tr>
</table>

<button type="submit" id="solve" value="Solve">Solve</button>

<div id="percentDisplay">
  <% x = 0 %>
  <% while x <= 100 %>
    <div class="percentCell" id="<%= x %>"></div>
    <% x+=1 %>
  <% end %>
</div>
<div id="percent"></div>